[client]
host     = localhost
user     = root
password = nem4540
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = root
password = nem4540
socket   = /var/run/mysqld/mysqld.sock
